# <font color='Blue'>Pandas.</font>

<font color='Black'>1. using this pandas we can  importing a file.</font>

<font color='Black'>2.With the help of pandas we can do...</font>

-  Exploring Data
-  Data Preparation

### Exploring Data Topics

- Loading data Frames and Creating Data Frames
- Accessing and Manipulating Data
- Filtering and Selecting Data
- Adding and Removing coloumns
- Merging and Concatenating Data Frames
- Grouping and Aggregating data
- Pivot table

### Data Preparation Topics

- Handling Missing Values
- Handling Duplicates
- Data Formatting
- Data Transformation
- Data Normalization

### <font color='purple'>Exploring Data.</font>

### <font color='orange'>1.Loading DataFrames  AND  Creating DataFrames.</font>

In [4]:
import pandas as pd

In [12]:
df=pd.read_excel("D:/Sai/SaleData.xlsx") #---------------------------> Excel file code
df

In [13]:
df1=pd.read_csv("D:/Sai/BrentOilPrices.csv")   #---------------------------> Csv file code
df1

__________________________________________________________________

### <font color='orange'>Creating our Own DataFrames.</font>

- We can Use list are Dictionary to create our new dataframe.

### Basic Syntax to create new Data Frame

#### Syntax  :-  pandas.DataFrame(data, index, columns)

- data    :-  Which to be created.
- index   :-  Its Optional.
- columns :-  Provide Coloumns names

In [6]:
import pandas as pd
a=pd.DataFrame()
print(a)

Empty DataFrame
Columns: []
Index: []

###### 1.Creating Dataframe using Lists

In [21]:
import pandas as pd 

df=[["MS",10],["Sai",20],["Kumar",30]]
print(df)

df1=pd.DataFrame(df,columns=["Name","Age"])
print(df1)

type(df)

[['MS', 10], ['Sai', 20], ['Kumar', 30]]
    Name  Age
0     MS   10
1    Sai   20
2  Kumar   30

list

###### 2.Creating Dataframe using Dictionary.

In [22]:
import pandas as pd

a={"name":["Sai","Ms","Kumar"],
   "age":[10,20,30]}

b=pd.DataFrame(a)
print(b)

type(a)

    name  age
0    Sai   10
1     Ms   20
2  Kumar   30

dict

__________________________________________________________________

### <font color='orange'>2. Accessing Data   AND  Manipulating Data.</font>


##### <font color='red'>Accessing Data.</font>

- You can Fetch a single iteam from a data, Or Multiple iteam

- with the help of Data Location, Or Variable name we can Access the data 

- We can Access Both Columns And Rows

In [50]:
# Creating Data frame with Dictionary And Accessing with variable name

d={"ms":[2,3,4],
    "sai":[5,6,7]}

f=pd.DataFrame(d)

print(f["ms"])  #----------------------------------------------------------->>>   Access with variable names (columns)

0    2
1    3
2    4
Name: ms, dtype: int64

In [3]:
# Creating data frame with list and Accessing with location

import pandas as pd

g=[["Sai","Ms","Kumar"],[20,30,40]]

j=pd.DataFrame(g)

print(j[2])    #----------------------------------------------------------->>>   Access with Location (columns)

0    Kumar
1       40
Name: 2, dtype: object

In [9]:
# Access the Rows and columns using their respective functions 

k={"king":[42,44,45],
    "Queen":[55,67,68]}

l=pd.DataFrame(k)
print(l)

q=l.loc[1,k]   #----------------------------------------------------------->>>   Access Rows Using (( data.loc() ))
print(q)

w=l.columns[1]    ##----------------------------------------------------------->>>   Access Columns Using (( data.columns() ))
print(w)

   king  Queen
0    42     55
1    44     67
2    45     68
king     44
Queen    67
Name: 1, dtype: int64
Queen

#### <font color='red'>Manipulating Data.</font>

- This is the important topic for **"Data Exploration"**

- They have some functions here

- 1.filter()
- 2.distinct()
- 3.Arrange()
- 4.Select()
- 5.Rename()
- 6.Mutate()
- 7.Transumate()
- 8.Summarize()

#### <font color='red'>FilterData.</font>

In [27]:
# Creating a Data Frame (Dictionary)

import pandas as pd
s={
    "ID":[101,102,103,104],
    "Score":[20,30,40,50],
    "wik":[1,2,3,4]
}
f=pd.DataFrame(s)
print(f)



# Filtering data frame wik morethan 2 

filterdata=f[f["wik"]>2]
print(filterdata)



# Filtering Data only Score columns using .loc function 

filtered_score = f.loc[f["Score"] > 30, "Score"]
print(filtered_score)

    ID  Score  wik
0  101     20    1
1  102     30    2
2  103     40    3
3  104     50    4
    ID  Score  wik
2  103     40    3
3  104     50    4
2    40
3    50
Name: Score, dtype: int64

#### <font color='red'>Distinct (Unique).</font>

- Removing Duplicates Values in Data set

In [54]:
# Unique 

import pandas as pd

# Sample data
data = {
    'Name': ['Sai', 'Bob', 'Charlie', 'David', 'Emily', 'Alice'],
    'Age': [30, 30, 35, 28, 32, 25],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Boston', 'New York']
}

# Create a DataFrame
df = pd.DataFrame(data)

# Getting only unique values in 'Name' column
unique_names = df['Name'].unique()

print("Unique Names:")
print(unique_names)




# Drop it duplicates 
unique = df.drop_duplicates()
print(unique)




# Drop it aa  duplicates based on 'City' column
unique_records = df.drop_duplicates(subset=['City'])

print("Unique Records based on City:")
print(unique_records)

Unique Names:
['Sai' 'Bob' 'Charlie' 'David' 'Emily' 'Alice']
      Name  Age         City
0      Sai   30     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   28      Houston
4    Emily   32       Boston
5    Alice   25     New York
Unique Records based on City:
      Name  Age         City
0      Sai   30     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   28      Houston
4    Emily   32       Boston

#### <font color='red'>Arrange (Sorting).</font>

- Arrange they Dont have In-Bulit function in Python

- Sorting they have In-Built function in Python We can use it.

- We can Sort the List, Tuples, strings, Dictinory Data Sets.
- Default we can Sort Accessding Order in Data Sets

In [10]:
# Using List Data Set

numbers = [3, 1, 4, 1, 5, 0, 2, 6, 5, 3, 5]
sorted_numbers = sorted(numbers)
print(sorted_numbers)




# Using Tuple Data Set

letters = ('b', 'd', 'a', 'c')
sorted_letters = sorted(letters)
print(sorted_letters)  


# Using String

word = "python"
sorted_word = sorted(word)
print(sorted_word)  




# Using Dictinory

my_dict = {'apple': 5, 'orange': 2, 'banana': 8}
sorted_dict = sorted(my_dict.items())
print(sorted_dict)

[0, 1, 1, 2, 3, 3, 4, 5, 5, 5, 6]
['a', 'b', 'c', 'd']
['h', 'n', 'o', 'p', 't', 'y']
[('apple', 5), ('banana', 8), ('orange', 2)]

#### <font color='red'>Selecting.</font>

- They Don't have any In-Built function for selecting here in Python.

- We can Access using direct condition here.

In [31]:
import pandas as pd

# Sample Data
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, 35, 40, 45]
}
df = pd.DataFrame(data)

# Selecting rows where Age is greater than and Equal to 30
selected_rows = df.loc[df['Age']  >= 30]
print(selected_rows)

      Name  Age
1      Bob   30
2  Charlie   35
3    David   40
4      Eve   45

#### <font color='red'>Rename.</font>

- We Can Change the Variables names using Rename function.

In [52]:
# Sample Data
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, 35, 40, 45],
    'Weight':[45,46,47,48,50]
}
df = pd.DataFrame(data)

# Changing Columns Age to Ag
df.rename(columns={'Age': 'Ag'}, inplace=True)
print(df)


# Changing all columns names at a time

df1={'Name':'Na',
     'Age':'Ag',
     'Weight':'wg'}


df.rename(columns=df1,inplace=True)
print(df)

      Name  Ag  Weight
0    Alice  25      45
1      Bob  30      46
2  Charlie  35      47
3    David  40      48
4      Eve  45      50
        Na  Ag  wg
0    Alice  25  45
1      Bob  30  46
2  Charlie  35  47
3    David  40  48
4      Eve  45  50

#### <font color='red'>Mutate.</font>

- Mutate, their is no in built function in python
- With the help of this Mutate we can do Modifying or add data directly without Dropping old Variables

In [11]:
import pandas as pd

# Sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, 35, 40, 45]
}
df = pd.DataFrame(data)

# Adding a new column 'AgePlusTen' to the DataFrame 'df'
df['AgePlusTen'] = df['Age'] + 10

print("Mutated DataFrame:")
print(df)

Mutated DataFrame:
      Name  Age  AgePlusTen
0    Alice   25          35
1      Bob   30          40
2  Charlie   35          45
3    David   40          50
4      Eve   45          55

#### <font color='red'>Transmutate.</font>

- Creates a new object or structure with transformed or calculated data, leaving the original object unchanged.

In [13]:


import pandas as pd

# Sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, 35, 40, 45],
    'Weight': [45, 46, 47, 48, 50]
}
df = pd.DataFrame(data)

# Creating a new DataFrame 'df_transmuted' with a calculated column 'AgeOverWeight'
df_transmuted = df.assign(AgeOverWeight=df['Age'] / df['Weight'])
print(df_transmuted)

      Name  Age  Weight  AgeOverWeight
0    Alice   25      45       0.555556
1      Bob   30      46       0.652174
2  Charlie   35      47       0.744681
3    David   40      48       0.833333
4      Eve   45      50       0.900000

#### <font color='red'>Describe.</font>

- It will Detail about the Data Set

In [69]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, 35, 40, 45],
    'Weight': [45, 46, 47, 48, 50]
}
df = pd.DataFrame(data)

df1=df["Age"].describe()
print(df1)


df2=df.describe()
print(df2)

count     5.000000
mean     35.000000
std       7.905694
min      25.000000
25%      30.000000
50%      35.000000
75%      40.000000
max      45.000000
Name: Age, dtype: float64
             Age     Weight
count   5.000000   5.000000
mean   35.000000  47.200000
std     7.905694   1.923538
min    25.000000  45.000000
25%    30.000000  46.000000
50%    35.000000  47.000000
75%    40.000000  48.000000
max    45.000000  50.000000

### <font color='orange'>Merging AND Concatenating DataFrames.</font>

#### <font color='red'>Merging.</font>

- With the help of this Merging function we can merge two dataframes With same column Variable names, will get what it Matches

In [73]:
import pandas as pd

# Sample DataFrames
df_employee = pd.DataFrame({
    'employee_id': [1, 2, 3, 4],
    'name': ['Alice', 'Bob', 'Charlie', 'David'],
    'age': [25, 30, 35, 40]
})

df_department = pd.DataFrame({
    'employee_id': [1, 2, 4, 5],
    'department': ['HR', 'Engineering', 'Marketing', 'Finance']
})

# Merge based on 'employee_id'
merged_df = pd.merge(df_employee, df_department, on='employee_id')
print(merged_df)

   employee_id   name  age   department
0            1  Alice   25           HR
1            2    Bob   30  Engineering
2            4  David   40    Marketing

#### <font color='red'>Concatenating.</font>

- With the help of this Concatenating function we cam combine two dataframes either Horizontal OR Vertical without using Colums

In [78]:
# Sample DataFrames
df_employee = pd.DataFrame({
    'employee_id': [1, 2, 3, 4],
    'name': ['Alice', 'Bob', 'Charlie', 'David'],
    'age': [25, 30, 35, 40]
})

df_department = pd.DataFrame({
    'employee_id': [1, 2, 4, 5],
    'department': ['HR', 'Engineering', 'Marketing', 'Finance']
})


Concat=pd.concat([df_employee,df_department],axis=1)   # axis = 1 -----------------> Horizontal
print(Concat)                                          # axis = 0 -----------------> Vertical

   employee_id     name  age  employee_id   department
0            1    Alice   25            1           HR
1            2      Bob   30            2  Engineering
2            3  Charlie   35            4    Marketing
3            4    David   40            5      Finance

### <font color='orange'>Grouping AND Aggregating functions.</font>

#### <font color='red'>Grouping.</font>

- **df.groupby()**, This is the In-Built function for this, Here they can from all groups and we can use any statistical calculations

In [27]:
import pandas as pd
f=pd.read_excel("D:/Sai/SaleData.xlsx")
f

group1 = f.groupby("Region")["Sale_amt"].sum()
print(group1)


group2 = f.groupby("Sale_amt").mean()
print(group2)

Region
Central    829769.5
East       321007.0
West       154899.0
Name: Sale_amt, dtype: float64
          Month  Units  Unit_price
Sale_amt
250.0       9.0    2.0       125.0
375.0       8.0    3.0       125.0
625.0       6.0    5.0       125.0
936.0       9.0   16.0        58.5
2000.0      2.0    4.0       500.0
2457.0      8.0   42.0        58.5
2925.0      3.0   50.0        58.5
3217.5      7.0   55.0        58.5
3375.0     11.0   15.0       225.0
3500.0      3.0    7.0       500.0
3627.0      7.0   62.0        58.5
4329.0     12.0   74.0        58.5
5500.0     11.0   11.0       500.0
5616.0     11.0   96.0        58.5
6075.0      2.0   27.0       225.0
8386.0      9.0    7.0      1198.0
14000.0    11.0   28.0       500.0
14400.0    10.0   64.0       225.0
14500.0     7.0   29.0       500.0
16772.0    10.0   14.0      1198.0
17100.0     9.0   76.0       225.0
21600.0     4.0   96.0       225.0
23000.0     1.0   46.0       500.0
25000.0     1.0   50.0       500.0
28500.0    10.0   57.0       500.0
30000.0     5.0   60.0       500.0
38336.0     5.0   32.0      1198.0
40000.0     5.0   80.0       500.0
40500.0     7.0   81.0       500.0
41930.0     8.0   35.0      1198.0
43128.0     2.0   36.0      1198.0
43500.0     2.0   87.0       500.0
47000.0    12.0   94.0       500.0
63494.0     5.0   53.0      1198.0
67088.0     3.0   56.0      1198.0
79068.0     4.0   66.0      1198.0
80266.0    12.0   67.0      1198.0
89850.0     4.0   75.0      1198.0
107820.0    5.5   90.0      1198.0
113810.0    1.0   95.0      1198.0

#### <font color='red'>Aggregating Functions.</font>

- **df.aggregate()**, it's a In-Built function we can use to make a statistacal calculations all at a time

In [29]:
import pandas as pd
h=pd.read_excel("D:/Sai/SaleData.xlsx")
h

df.aggregate({"OrderDate":["min","max"],
              "Units":["sum"],
              "Sale_amt":["sum"]})

     OrderDate   Units   Sale_amt
max 2019-12-21     NaN        NaN
min 2018-01-06     NaN        NaN
sum        NaT  2121.0  1305675.5

### <font color='orange'>Pivot Table.</font>

-**pd.pivot_table(dataname, Index, Columns, Values, aggfunc)** :-   it's a in-Built function for Pivot table, for summarizing and aggregating data in tabular form

-**Index**: These are the values that define the rows of the pivot table.

 -**Columns**: These are the values that define the columns of the pivot table.

-**Values**: These are the numerical values that you want to aggregate based on the rows and columns.

In [30]:
import pandas as pd
import numpy as np

# Sample data
data = {
    'Date': ['2024-01-01', '2024-01-01', '2024-01-02', '2024-01-02', '2024-01-01'],
    'City': ['New York', 'Los Angeles', 'New York', 'Los Angeles', 'New York'],
    'Temperature': [32, 75, 30, 78, 34],
    'Humidity': [80, 50, 85, 48, 75]
}

df = pd.DataFrame(data)

# Creating a pivot table
pivot_table = pd.pivot_table(df, values=['Temperature', 'Humidity'], index='Date', columns='City', aggfunc=np.mean)
print(pivot_table)

              Humidity          Temperature
City       Los Angeles New York Los Angeles New York
Date
2024-01-01        50.0     77.5          75       33
2024-01-02        48.0     85.0          78       30

### <font color='orange'>Changing Categorical data To Numeric Data.</font>

- They Have two methods here factorize and using mappings

- factosize method they will take default values (0,1,2,3)

- mappings method we can give our own

In [41]:
# Factorize Method


import pandas as pd

# Sample DataFrame with categorical column
data = {
    'Category': ['A', 'B', 'A', 'C', 'B', 'A']
}

df = pd.DataFrame(data)

# Convert categorical to numeric using factorize
df['Category_numeric'], categories = pd.factorize(df['Category'])
print(df)



# To Drop the colums

#df1=df.drop(["Category"],axis=1)








# Mapping Method


import pandas as pd

# Sample DataFrame with categorical column
data = {'Category': ['A', 'B', 'A', 'C', 'B', 'A']}

df = pd.DataFrame(data)

# Define custom mapping dictionary
mapping = {'A': 10, 'B': 20, 'C': 30}

# Use map function to replace categorical values with custom numeric codes
df['Category_numeric'] = df['Category'].map(mapping)

print(df)

  Category  Category_numeric
0        A                 0
1        B                 1
2        A                 0
3        C                 2
4        B                 1
5        A                 0
  Category  Category_numeric
0        A                10
1        B                20
2        A                10
3        C                30
4        B                20
5        A                10

### <font color='orange'>Changing Numeric data To catergorical Data.</font>

In [1]:
# Example numeric data
numeric_data = [10, 25, 5, 18, 30, 15, 7, 21]

# Define a function to map numeric values to categories
def map_to_category(value):
    if value < 10:
        return 'Small'
    elif 10 <= value < 20:
        return 'Medium'
    else:
        return 'Large'

# Apply the function to each value
categories = [map_to_category(value) for value in numeric_data]

print(categories)

['Medium', 'Large', 'Small', 'Medium', 'Large', 'Medium', 'Small', 'Large']

# <font color='red'>END.</font>