# <font color='Blue'>Data Preparation.</font>

- Data Preparation means we have to prepare Raw Data to Analysis Data

- Here we having some topics in this

###### <font color='grey'>1.Handling Missing Values.</font>

###### <font color='grey'>2.Handling Duplicates.</font>

###### <font color='grey'>3.Data Formating.</font>

###### <font color='grey'>4.Data Normalization.</font>

### <font color='purple'>Handling Missing Values.</font>

- Missing Values means in our data they having some **Blanks**, **NA Values**, **NAN Values**, if we found in our data means we can consider as a we have a missing values in our Data.

- According to our requirment we can remove, Repace with mean are replace with any other Word or Values

###### <font color='red'>Finding Missing Values.</font>

- Here when we found missing values like blanks, nan, na first step we want to replace with **np.nan**,

- Because, in pandas we have In-Built function to find missing values like **isna()**, **isnull()**, **dropna()**, **notna()**

In [20]:
# Without replacing np.nan 


import pandas as pd
import numpy as np

# Creating Data without np.nan
dict = {'First Score':[1, 2, " " , 3],
        'Second Score': [1, 2, 3, "NAN "],
        'Third Score':["NA" , 1, 2, 3]}

# creating a dataframe
df = pd.DataFrame(dict)

# using isna() function  
df.isna()                            #----------------------> Output shows all False, Because we didn't replace with np.nan

   First Score  Second Score  Third Score
0        False         False        False
1        False         False        False
2        False         False        False
3        False         False        False

In [47]:
# Creating Data with np.nan
dict = {'First Score':[1, 2, " " , 3],
        'Second Score': [1, 2, 3, " NAN "],
        'Third Score':["NA " , 1, 2, 3]}

# creating a dataframe
df = pd.DataFrame(dict)


# Replacing different null values at a time   
df.replace({" ":np.nan," NAN ":np.nan,"NA ":np.nan},inplace=True)


# Replacing only one type null values means use this
# df.replace(" ",np.nan,inplace=True)


# using isnull() function  
missing=df.isna()       #-----------------------> See, Here we can see True in output so, we replace np.nan we found it easily. 
print(missing)



# Count how many missing values are there in Columns  
df.isna().sum()



# Checking Rows which rows having null values
rows_with_any_missing = df[df.isna().any(axis=1)]
print(rows_with_any_missing)   #----------------> 1.row is missing in output because in that row Doesn't have any missing value

   First Score  Second Score  Third Score
0        False         False         True
1        False         False        False
2         True         False        False
3        False          True        False
   First Score  Second Score  Third Score
0          1.0           1.0          NaN
2          NaN           3.0          2.0
3          3.0           NaN          3.0

###### <font color='red'>                           </font>

###### <font color='red'>                           </font>

**Filling Missing Values with 4 number**

In [46]:
import pandas as pd
import numpy as np

# Example DataFrame with NaN values
dict_data = {'First Score': [1, 2, np.nan, 3],
             'Second Score': [1, np.nan, 3, 4],
             'Third Score': [np.nan, 1, 2, 3]}

df = pd.DataFrame(dict_data)

# Display the original DataFrame
print(df)

# Replace all NaN values with 4
df.fillna(4, inplace=True)

# Display the DataFrame after replacement
print(df)

   First Score  Second Score  Third Score
0          1.0           1.0          NaN
1          2.0           NaN          1.0
2          NaN           3.0          2.0
3          3.0           4.0          3.0
   First Score  Second Score  Third Score
0          1.0           1.0          4.0
1          2.0           4.0          1.0
2          4.0           3.0          2.0
3          3.0           4.0          3.0

###### <font color='red'>                           </font>

###### <font color='red'>                           </font>

### <font color='purple'>Handling Duplicates.</font>

- We want remove Duplicates value in our data, Because it spoils our Analysis

In [53]:
import pandas as pd

# Example DataFrame with duplicate rows
data = {
    'Name': ['Alice', 'Bob', 'Alice', 'Charlie', 'Bob', 'Alice'],
    'Age': [25, 30, 25, 35, 30, 25],
    'City': ['New York', 'Los Angeles', 'New York', 'Chicago', 'Los Angeles', 'New York']
}

df = pd.DataFrame(data)
print(df)

# Identify duplicate rows
duplicates = df.duplicated()
print(duplicates)

# Remove duplicate rows
df_no_duplicates = df.drop_duplicates()
print(df_no_duplicates)

# To find what duplicates is there in rows
duplicates = df[df.duplicated()]
duplicates

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2    Alice   25     New York
3  Charlie   35      Chicago
4      Bob   30  Los Angeles
5    Alice   25     New York
0    False
1    False
2     True
3    False
4     True
5     True
dtype: bool
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
3  Charlie   35      Chicago

    Name  Age         City
2  Alice   25     New York
4    Bob   30  Los Angeles
5  Alice   25     New York

###### <font color='red'>                           </font>

###### <font color='red'>                           </font>

### <font color='purple'>3.Data Formatting.</font>

- Changing Data they have different types here

 **String Formatting**

**Numerical Formatting**

**Data Type Conversion**

**Pandas Formatting**

###### <font color='red'>1.String Formatting.</font>

In [1]:
name = "Alice"
age = 30

# Using f-Strings 
formatted_string = f"My name is {name} and I am {age} years old."
print(formatted_string)

My name is Alice and I am 30 years old.

###### <font color='red'>                           </font>

###### <font color='red'>2.Numeric Formatting.</font>

In [2]:
price = 1234.56789

# Format number to two decimal places
formatted_price = f"${price:.2f}"
print(formatted_price)  


# Add thousands separator
formatted_price_with_comma = f"${price:,.2f}"
print(formatted_price_with_comma)

$1234.57
$1,234.57

###### <font color='red'>                           </font>

###### <font color='red'>3.Data Type Conversion.</font>

In [3]:
number_str = "100"
number_int = int(number_str)  # Convert string to integer
print(number_int)  

number_float = float(number_str)  # Convert string to float
print(number_float)

100
100.0

###### <font color='red'>                           </font>

###### <font color='red'>4.Pandas Formatting.</font>

In [7]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob'],
    'Salary': [70000, 80000],
    'Join Date': pd.to_datetime(['2023-01-15', '2023-02-20'])
})

# Format 'Salary' column with thousands separator
df['Salary'] = df['Salary'].apply(lambda x: f"${x:,}")

# Format 'Join Date' column
df['Join Date'] = df['Join Date'].dt.strftime('%d-%m-%y')

print(df)

    Name   Salary Join Date
0  Alice  $70,000  15-01-23
1    Bob  $80,000  20-02-23

###### <font color='red'>                           </font>

###### <font color='red'>                           </font>

### <font color='purple'>4.Data Normalization.</font>

- Data normalization is a technique used to standardize the range of features in your data. This process ensures that features contribute equally to the analysis and helps improve the performance of machine learning models.

**Common Methods of Normalization**

###### <font color='red'>1.Min-Max Normalization.</font>

 - Scales the data to a fixed range, typically [0, 1] or [-1, 1].

In [5]:
import pandas as pd

data = {
    'Feature1': [10, 20, 30, 40, 50],
    'Feature2': [100, 200, 300, 400, 500]
}
df = pd.DataFrame(data)



from sklearn.preprocessing import MinMaxScaler

min_max_scaler = MinMaxScaler()
df_min_max = df.copy()
df_min_max[['Feature1', 'Feature2']] = min_max_scaler.fit_transform(df[['Feature1', 'Feature2']])
df_min_max[['Feature1', 'Feature2']]

   Feature1  Feature2
0      0.00      0.00
1      0.25      0.25
2      0.50      0.50
3      0.75      0.75
4      1.00      1.00

###### <font color='red'>                      .</font>

###### <font color='red'>2.  Z-Score Normalization.</font>

- Scales the data based on the mean and standard deviation, so the data has a mean of 0 and a standard deviation of 1.

In [6]:
import pandas as pd
from sklearn.preprocessing import StandardScaler


data = {
    'Feature1': [10, 20, 30, 40, 50],
    'Feature2': [100, 200, 300, 400, 500]
}
df = pd.DataFrame(data)



standard_scaler = StandardScaler()
df_standard = df.copy()
df_standard[['Feature1', 'Feature2']] = standard_scaler.fit_transform(df[['Feature1', 'Feature2']])
df_standard[['Feature1', 'Feature2']]

   Feature1  Feature2
0 -1.414214 -1.414214
1 -0.707107 -0.707107
2  0.000000  0.000000
3  0.707107  0.707107
4  1.414214  1.414214

# <font color='red'>END.</font>